# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
htmlcov/
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# FastHTML
.sesskey

.DS_Store

chat_sessions/chat_*
Phi-3-mini-4k-instruct-q4.gguf
